* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee", serif;
}
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}
.assets {
    display: none;
}
.controls {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}
.controls button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    color: white;
}
